body {
  scroll-behavior: smooth;
}

/* Carousel -> Use image-slider so not collide with bootstrap carousel class */
/* Code Based on Lab Topic of Image Slider */

.sliderContainer {
  display: flex;
  height: fit-content;
}

#slides {
  display: flex;
  position: relative;
}

#slider {
  overflow: hidden;
}

.image-slider #leftBtn,
.image-slider #rightBtn {
  width: 5vw;
  position: relative;
  border: none;
  background-color: grey;
  color: white;
  font-size: 1.5rem;
  transition: background-color 200ms ease-in-out;
  z-index: 2;
}

.image-slider #leftBtn:hover,
.image-slider #rightBtn:hover {
  background-color: rgba(145, 145, 145, 0.5);
}

.image-slider #rightBtn {
  right: 0;
}

/* Menus */

.menu > img {
  height: 12rem;
}

.menu > div > p {
  font-size: 1.5rem;
}

/* Order Menu Form */

.order-form {
  width: 50%;
}

.order-form input::-webkit-outer-spin-button,
.order-form input::-webkit-inner-spin-button {
  margin: 0;
  display: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

.order input[type="number"] {
  height: 2.5rem;
  width: 3.5rem;
}

@media screen and (max-width: 576px) {
  .order-form {
    width: 100%;
  }
}

/* Footer */

footer {
  height: 10vh;
}
